.Homepage {
  /* put around the vertical center of page */
  height: calc(100vh - 150px);
  display: flex;
  align-items: center;
}

.HomeForm {
  margin: 20px auto;
  max-width: 400px;
  padding: 15px;
  /* border: 1px solid #ddd; */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}